<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.root.mapper.SysColumnsMapper">

    <select id="list" resultType="com.root.entity.SysColumnsEntity">
        SELECT
        *
        FROM
        sys_columns
    </select>

</mapper>
