<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.root.mapper.SysUserMapper">

    <select id="list" resultType="com.root.entity.SysUserEntity">
        SELECT
        *
        FROM
        sys_user
    </select>

    <select id="login" resultType="com.root.entity.SysUserEntity">

		SELECT
			*
		FROM
			sys_user
	WHERE
	username = #{username}
	AND `password` =#{password}
	AND is_del=0
    </select>
</mapper>
